div.info {
  border: 3px inset #6e9489;
  background-image:url('waves.gif');
  opacity:0.8;
  background: #6e9489/*#94b73e*/;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
}


div.error{
  opacity:0.7;
  background: #f2f1e9/*#b5c0af*/;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
}

div#title{
  opacity:.6 !important;
  border:0px solid black !important;
  background-image: none !important;
  background: #dedcc3;
  margin: 0 auto;
  width:800px;
}

div.cluster{
padding:10px;
border: 5px outset #877963;
width:40%;
background-image:url('subtle-wood.gif');
/*background:#877963;*/
margin: 0 auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 7px 7px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0px 7px 7px;
  box-shadow: rgba(0,0,0,0.8) 0px 7px 7px;
}

div#wrapper{
  background-image:url('renzler.gif');
  /*background: #41434a/*#4c4c4c*/;
  margin: 0 auto;
  height:auto;
  padding: 100px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
}

div#button{
  width:200px;
  opacity:0.8 ;
  border: 0px solid black ;
  padding:0px ;
  background: #6e9489/*#94b73e*/;
  margin: 0 auto;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
}
