<div id = "wrapper">
<div class = "info" id = "title"><h1>BANDOCALYPSE</h1></div><br/>
{%load url from future%}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}main.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}login.css" />



{% if messages %}
<div class = "error" id = "error">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{%if False%}
<img src="{{MEDIA_URL}}apocalypse.jpg" />

<p>{{STATIC_URL}}</p>
{%endif%}

<div class = "error" id = "info">
<p>wanna learn about bandocalypse? <a href = "/polls/info">click here!</a></p>
</div><br/>


{%if success%}
    <div class = "info" id = "homepage">
    <a href = "{% url 'polls.views.event' %}">your home page, {{username}}!</a>
    </div>
    <br/>
{%else%}
    <div class = "info" id = "login">
    <a href = "{% url 'django.contrib.auth.views.login' %}">login!</a></div>
    <br/>
    
    <div class = "info" id = "register">
    <a href = "{% url 'polls.views.profile_create' %}">not a member? signup now!</p>
    </div>
{%endif%}


</div>
