<h1>BANDOCALYPSE</h1>
{%load url from future%}
<style type="text/css">
#login{
border:1px solid black;
width:300px;
}
#signup{
border:1px solid black;
width:300px;
}
</style>


<img src="{{MEDIA_URL}}apocalypse.jpg" />


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<p>wanna learn about bandocalypse? <a href = "/polls/info">click here!</a></p>


<a href = "{% url 'django.contrib.auth.views.login' %}">login!</a>

<p>not a member? signup now!</p>
<form action="/polls/profile_create/" method="post" id="signup">
{% csrf_token %}
    <p>name:</p>
    <input type="text" name="name" id="name" /><br/>
    <p>email:</p>
    <input type="text" name="email" id="email" /><br/>
    <p>password:</p>
    <input type="text" name="password" /><br/>
    <p>comma-delineated list of your favorite bands:</p>
    <input type="text" name="bands" />
<input type="submit" value="create" />
</form> 

