<div id = "wrapper">
    <script src="{{MEDIA_URL}}jquery-1.7.2.min.js"></script>
    
    <script type = "text/javascript">
    
    $(document).ready(function(){
        $('#bands').hide();
        $('#bands').fadeIn('slow');
        $('#hometown').hide();
        $('#hometown').fadeIn('slow');
    });
    
    </script>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}main.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}profile.css" />

    {% if error_message %}<div class = "error"><p><strong>{{ error_message }}</strong></p></div>{% endif %}

    <div class = "info" id = "title"><h1>BANDOCALYPSE</h1></div><br/>



    <div class = "cluster" id = "clusterprofile">
    <br/>
        <div class = "info" id = "event">
            <a href = "{% url polls.views.event %}">your event searcher awaits!</a>
        </div>

        <br/>

        {% csrf_token %}
        {% if bands %}
            <div class = "info" id = "bands">
                <ul>
                {% for band,description in bands.iteritems %}
                   {% autoescape off %}
                    <li><h3>{{band}} :</h3> <div class = "description">{{description}}</div></li>
                    {% endautoescape %}
                {% endfor %}
                </ul>
            </div>
        {% else %}
        <div class = "error" id = "nobands">
            <p>No bands are available.</p>
        </div>
        {% endif %}
        <br/>

        {% if hometown %}
        <div class = "info" id = "hometown">
            <h3> your hometown is {{hometown}}</h3>
        </div>
        {% endif %}
        <br/>


        <div class = "button" id = "button">
            <a href = "/polls/edit">edit your profile!</a>
        </div>
    </div>
</div>
